*{
    margin: 0 auto;
}

body{
    position: relative;
    background-image: url("../images/KSJTtw.png");
    background-position: center; 
    background-repeat: no-repeat; 
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    margin: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.212);
}

.title {  
    width: 200px;
    height: auto;
    text-align: center;
}

.header img {
    float: left;
}

table {
    display: inline-block;
    border-collapse: collapse;
}

img, td {
    width: 40px;
    height:40px;
    border: 0;
}

.wall { background-image: url("../images/wall.jpg")}
.floor { background-image: url("../images/sand.jpg")}
.target { background: url("../images/target.png") top,  url("../images/sand.jpg");  background-size: cover; width: 20px; height: 20px;}


.container {
    opacity: 0.7;
    margin-top: 1%;
    position: relative;
    text-align: center;
    display: block;
}

.modal {
    font-size: 25px;
    width: 300px;
    height: 100px;
    background-color: rgba(255, 72, 0, 0.829);
    position: absolute;
    left: 400px;
    top: 20px;
    border-radius: 15px;
}    

.play{
    color: antiquewhite;
    border-radius: 15px;
    border: 2px rgba(0, 0, 0, 0.328) solid;
    background: rgba(0, 0, 0, 0.411);
    font-size: 25px;
    font-weight: bold;
}

.hide {
    visibility: hidden;
}  

.levels{
    background-color:  rgba(237, 161, 40, 0.404);
    color: antiquewhite;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 150px;
    font-size: 16px;
    left: 15%;
}

h1{
    display: inline-block;
}

 h2{
    padding: 20px;
}

.levels h2:hover{
    color: darkkhaki;
    cursor: pointer;
}

button:hover{
    color: rgba(255, 72, 0, 0.829);
    background-color: black;
    font-weight: bolder;
    cursor: pointer;
}

.instructions{
    width: 300px;
    height: fit-content;
    background-color: rgba(237, 161, 40, 0.404);
    color: rgb(240, 245, 223);
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 12px;
    left: 73%;

   
}

.clock{
    background-color: goldenrod;
    color: black;
}

.color-level{
    background-color: goldenrod;
}